<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Historiques</title>
</head>
<body>
<h1>All Historiques</h1>
<p th:text="${message}"></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="historique : ${listHistoriques}">
        <td th:text="${historique.id_historique}"></td>
        <td th:text="${historique.montant}"></td>
        <td th:text="${historique.dateTransaction}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
